<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.hashtag.model.mapper.HashtagMapper">
	<insert id="createHashtag">
		insert into hashtag(tag_name)
		values(#{tagName});
	</insert>
	
	<select id="selectOne" resultType="com.ssafy.hashtag.model.dto.HashtagDto">
		select hashtag_id hashtagId, tag_name tagName
		from hashtag
		where tag_name=#{tagName};
	</select>
	
	<delete id="deleteHashtag">
		delete 
		from hashtag
		where hashtag_id=#{hashtagId};
	</delete>
</mapper>